body {
  background-color: #ddd;
  font-family: "Helvetica Neue";
  color: #444;
  line-height: 1.5;
  width: 60%;
  margin: 0 auto;
  padding: 2% 0;
}

main {
  background-color: #fff;
  border-radius: 15px;
  padding: 2rem;
}

h1,
h2 {
  color: rgb(140, 76, 8);
}

section {
  margin-top: 0px;
  padding-bottom: 5px;
  border-top: solid 1px gray;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 10px;
}
